* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}